[Unit]
Description=Ubitx controller Daemon

[Service]
Type=forking
#PIDFile=/var/run/ubitx/pid
ExecStart=/usr/bin/ubitx_controller -s /dev/ttyUSB0 -r ubitx &
ExecStop=/usr/bin/killall -9 ubitx_controller
Restart=on-failure
LimitRTPRIO=1000
LimitNICE=-10

[Install]
WantedBy=multi-user.target
