[install]
language=en
install_mode=expert
hostname={{ inventory_hostname }}
mysql_hostname=localhost
mysql_root_user=root
mysql_root_password=""
mysql_database=dbispconfig
mysql_port=3306
mysql_charset=utf8
http_server=10.0.0.1
ispconfig_port=9090
ispconfig_use_ssl=y
ispconfig_admin_password=caduceu

[ssl_cert]
ssl_cert_country=BR
ssl_cert_state=DummyState
ssl_cert_locality=DummyTown
ssl_cert_organisation=DummyCompany
ssl_cert_organisation_unit=DummyUnit
ssl_cert_common_name=DummyName

[expert]
mysql_ispconfig_user=ispconfig
mysql_ispconfig_password=randompass
join_multiserver_setup=n
mysql_master_hostname=localhost
mysql_master_root_password=""
configure_mail=y
configure_jailkit=n
configure_ftp=n
configure_dns=n
configure_nginx=y
configure_apache=n
configure_firewall=n
configure_webserver=y
install_ispconfig_web_interface=y

[update]
do_backup=y
mysql_root_password=""
mysql_master_hostname=localhost
mysql_master_root_user="root"
mysql_master_root_password=""
mysql_master_database=dbispconfig
reconfigure_permissions_in_master_database=y
reconfigure_services=y
ispconfig_port=9090
create_new_ispconfig_ssl_cert=y
reconfigure_crontab=yes
