server {

	listen 80;
    listen [::]:80;

	client_max_body_size  100M;
	fastcgi_read_timeout 720s;

	root /var/www/html;

    index index.php index.html;


	location / {
		  try_files $uri $uri/ /;
	}

	location /downloads {
		  try_files $uri $uri/ /;
	}

	location /api {
	    try_files $uri $uri/ /api/index.php?$query_string;
	}
	if ($accept_language ~ "^$") {
	{% if hermes_callsign ==  'B0DK' %} 
            set $accept_language "pt";
	{% elif vara_callsign == 'B0DE' %}
            set $accept_language "es";
	{% endif %}
        }

        rewrite ^/$ /$accept_language permanent;
        location ~ ^/(pt|es|en-US) {
            try_files $uri /$1/index.html?$args;
        }


	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
	}
}