time any

chat-timeout 400
call-login user
call-password pass
chat "" \r

port HFP

forward *
commands rmail rnews crmail bash uucp uuadm ubitx_client sudo

protocol yi
protocol-parameter y packet-size 512
protocol-parameter y timeout 5400

system {{ hermes_callsign}}
{% if hermes_callsign ==  vara_callsign  %} 
alias local
{% else %}
alias gw
{% endif %}
alternate 
port TCP
address 10.8.0.10
chat "" \d\d\r\c ogin: \d\L word: \P

{% for n in range(1,15) %}

system {{vara_callsign}}-{{ n }}
{% if hermes_callsign == vara_callsign+ n|string   %}
alias local
{% else %}
alias ac{{ n }}
{% endif %}
alternate 
port TCP
{% if vara_callsign == 'B0DE'%}
address 10.8.0.{{ n+10 }}
{% elif vara_callsign == 'B0DK' %}
address 10.8.0.{{ n+30 }}
{% endif %}
chat "" \d\d\r\c ogin: \d\L word: \P
{% endfor %}

system hermes
{% if hermes_callsign == vara_callsign %}
alias gw
{% else %}
alias central
{% endif %}
port TCP
chat "" \d\d\r\c ogin: \d\L word: \P
address 10.8.0.1

system {{ vara_callsign }}-T
{% if hermes_callsign == 'B0DE' %}
alias act
{% elif hermes_callsign == 'B0DK' %}
alias kat
{% else %}
alias kt 
{% endif %}
alternate 
port TCP
protocol i
{% if hermes_callsign == 'B0DE' %}
address 10.8.0.28
{% elif hermes_callsign == 'B0DK' %}
address 10.8.0.48
{% else %}
address 10.8.0.8
{% endif %}
chat "" \d\d\r\c ogin: \d\L word: \P

system {{ vara_callsign }}-R
{% if hermes_callsign == 'B0DE' %}
alias acr
{% elif hermes_callsign == 'B0DK' %}
alias kar
{% else %}
alias kr 
{% endif %}
alternate 
port TCP
protocol i
{% if hermes_callsign == 'B0DE' %}
address 10.8.0.29
{% elif hermes_callsign == 'B0DK' %}
address 10.8.0.49
{% else %}
address 10.8.0.9
{% endif %}
chat "" \d\d\r\c ogin: \d\L word: \P
