time any

chat "" \d\d\r\c ogin: \d\L word: \P
chat-timeout 200
call-login user
call-password pass

forward *
commands rmail rnews crmail bash uucp uuadm

protocol i
protocol-parameter i timeout 1
protocol-parameter i retries 3


system B0DE
{% if vara_callsign == 'B0DE' %}
alias local
{% else %}
alias gw
{% endif %}
port TCP
address 10.8.0.10

{% for n in range(1,15) %}
system B0DE-{{ n }}
{% if vara_callsign == 'B0DE-'+ n|string   %}
alias local
{% else %}
alias ac{{ n }}
{% endif %}
port TCP
address 10.8.0.{{ n+10 }}
{% endfor %}


system hermes
{% if vara_callsign == 'B0DE' %}
alias gw
{% else %}
alias central
{% endif %}
alias central
port TCP
address 10.8.0.1

system B0DE-T
alias act
port TCP
address 10.8.0.28

system B0DE-R
alias acr
alternate 
port TCP
protocol i
address 10.8.0.29

protocol y
protocol-parameter y packet-size 512
protocol-parameter y timeout 3600

system PU4GNU
alias k4
port HFP
protocol y
chat "" \r
address 10.8.0.2