time any

chat-timeout 400
call-login user
call-password pass
chat "" \r

port HFP

forward *
commands rmail rnews crmail bash uucp uuadm ubitx_client sudo

protocol yi
protocol-parameter y packet-size 512
protocol-parameter y timeout 5400

system B0DE
alias ac
alternate 
port TCP
address 10.8.0.10
chat "" \d\d\r\c ogin: \d\L word: \P

{% for n in range(1,15) %}
system B0DE-{{ n }}
alias ac{{ n }}
alternate 
port TCP
address 10.8.0.{{ n+10 }}
chat "" \d\d\r\c ogin: \d\L word: \P
{% endfor %}

system B0DE-T
alias act
alternate 
port TCP
protocol i
address 10.8.0.28
chat "" \d\d\r\c ogin: \d\L word: \P

system B0DE-R
alias acr
alternate 
port TCP
protocol i
address 10.8.0.29
chat "" \d\d\r\c ogin: \d\L word: \P

system B0DK
alias ka
alternate 
port TCP
address 10.8.0.30
chat "" \d\d\r\c ogin: \d\L word: \P

{% for n in range(1,15) %}
system B0DK-{{ n }}
alias ka{{ n }}
alternate 
port TCP
address 10.8.0.{{ n+30 }}
chat "" \d\d\r\c ogin: \d\L word: \P
{% endfor %}

system B0DK-T
alias act
alternate 
port TCP
protocol i
address 10.8.0.8
chat "" \d\d\r\c ogin: \d\L word: \P

system B0DK-R
alias acr
alternate 
port TCP
protocol i
address 10.8.0.9
chat "" \d\d\r\c ogin: \d\L word: \P


system hermes
alias gw
alternate
port TCP
chat "" \d\d\r\c ogin: \d\L word: \P
address 10.8.0.1


system PU4GNU
{% if hermes_callsign ==  vara_callsign  %} 
alias local
{% else %}
alias k4
{% endif %}
alternate
port TCP
chat "" \d\d\r\c ogin: \d\L word: \P
address 10.8.0.2

system PU2UIT 
{% if hermes_callsign ==  vara_callsign  %} 
alias local
{% else %}
alias k2
{% endif %}
alternate
port TCP
chat "" \d\d\r\c ogin: \d\L word: \P
address 10.8.0.3