[Soundcard]
Input Device Name=In: default
Output Device Name=Out: default
ALC Drive Level=-6
RA-Board Device Path=
[Setup]
Registration Code={{ vara_license }}
Registration Code 1=
Registration Code 2=
Registration Code 3=
Callsign Licence 0={{ vara_callsign }}
Callsign Licence 1=
Callsign Licence 2=
Callsign Licence 3=
WaterFall=1
TCP Command Port=8300
Retries=5
View=1
CW ID=0
RA-Board PTT=0
Compatibility=0
Updates=0
ATU=0
AFC=124
[Monitor]
Monitor Mode=0
[Log]
Log Caption=Log*
CommandsLog=0
[Position]
Top Position=200
Left Position=200
